{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="margin-bottom: 90px"></div>

<div class="about">
    <div class="about-text">
        <h1>About U-Ride Bohol Self Drive Rental</h1>
        <p>
            Welcome to U-Ride Bohol. Whether your in Bohol for business or pleasure enjoy the freedom of having your own car. 
            Daily, weekly, or monthly car rentals are available at competitive prices. We are conveniently located at the heart of Tagbilaran
            City and can arrange pick up and drop off at your hotel or the airport.
        </p>
        <p>    
            Our automatic transmission Toyota Wigo allow for easy carefree driving, with roomy interiors even for the big guys.
             Comes with entertainment system, with inputs for usb, ipod or sd card, so you can enjoy your own music while exploring the mysteries of Bohol.
              The 998cc engine makes gas consumption minimal but doesn't lack for power. Toyota Wigo renting fee is only 1,600 pesos per day.
        </p>    
        <p>
            If you feel you need a bigger car for rent, try our Toyota Hiace Commuter or Nissan Urvan Premium. These cars are great for groups 
            or big family. Car Rental fee starting 3000 pesos per day.
        </p>
        <p>   
            No matter what your choice it will be our pleasure to serve your car rental needs while you visit the island of Bohol,
             Philippines.
        </p>
        <p>     
            Visit us at 0169, Catugasan St. Dampas, Tagbilaran City, Bohol. You can also call us at (+63-977) 469-4252.
        </p>
    </div>

</div>
{% endblock %}