{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="margin-bottom: 90px"></div>

<div class="steps-indicator">
  <div class="step1" >
    <span class="checkmark" style="color: rgb(12, 186, 12);">&#10003;</span>
    <a href="{% url 'home' %}" ><i class="bi bi-pen" style="color: rgb(12, 186, 12);"></i></a>
    <h1 style="color:  rgb(12, 186, 12);"> REQUEST</h1>
  </div>
  <div class="arrow">
    <i class="bi bi-arrow-right-circle-fill" style="color: rgb(12, 186, 12);"></i>
  </div>
  <div class="step2">
    <span class="checkmark" style="color: rgb(12, 186, 12);">&#10003;</span>
    <a href="{% url 'select_vehicle' %}" ><i class="bi bi-gear" style="color: rgb(12, 186, 12);" ></i></a>
    <h1 style="color: rgb(12, 186, 12);"> TYPE </h1>
  </div>
  <div class="arrow">
    <i class="bi bi-arrow-right-circle-fill" style="color: rgb(12, 186, 12);"></i>
  </div>
  <div class="step3" >
    <i class="fa fa-car"></i>
    <h1> VEHICLE </h1>
  </div>
  <div class="arrow">
    <i class="bi bi-arrow-right-circle"></i>
  </div>
  <div class="step4" style="opacity: 0.5">
    <i class="bi bi-person-lines-fill"></i>
    <h1> DETAILS </h1>
  </div>
  <div class="arrow">
    <i class="bi bi-arrow-right-circle"></i>
  </div>
  <div class="step5" style="opacity: 0.5">
    <i class="fa fa-file"></i>
    <h1> SUMMARY </h1>
  </div>  
</div>


<div class="vehicle-title2">
  <h1> MOTORCYCLES AVAILABLE </h1>
</div>

<div class="container-motorcycle">
{% for motorcycle in motorcycle_list %}  
<div class="motorcycle">
  <img src="{{ motorcycle.image.url }}" alt="{{ motorcycle.name }}" width="300" height="200">
  <h2>{{ motorcycle.brand }} {{ motorcycle.name }}</h2>
  <p><i class="bi bi-calendar"></i> {{ motorcycle.model }}</p>
  <p><i class="bi bi-badge-cc"></i> {{ motorcycle.cc }}</p>
  <p><i class="bi bi-gear-wide"></i> {{ motorcycle.classtype }}</p>
  <p>Available: {{ motorcycle.counter }} unit/s</p>
  <br>
  <br>
  <br>
  <br>
  {% if motorcycle.counter == 0 %}
  <p class="card-text"> Status: Not Available</p>
  <p class="car-price">₱ {{ motorcycle.price }}/DAY <button class="disabled" disabled>Reserve Now</button></p>
  {% else %}
  <p class="card-text"> Status: Available</p>
  <p class="car-price">₱ {{ motorcycle.price }}/DAY <a href="{% url 'motorcycle_client_detail' motorcycle_id=motorcycle.id %}">Reserve Now</a></p>
  {% endif %}
</div>
{% empty %}
<p>No motorcycles available at this time.</p>
{% endfor %}
</div>

{% endblock %}

